---
const { title } = Astro.props;
import Nav from "../pages/components/Nav";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta title={title} />
  </head>
  <body>
    <main>
      <Nav client:load />
      <slot />
      <!-- all teh different pages to be rendered here -->
    </main>
  </body>
</html>
